body {
  background-color:white;
  margin: 90px 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

p {
  padding:10px 10px;
  font-family:sans-serif;
  font-weight: bold;
  color: grey;
}

.blue-button {
  margin: 5px 5px;
  padding: 15px 25px;
  font-size:large;
  background-color: 
  #4a6cf7;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.blue-button:hover {
  background-color: #4a6df7df;
}

.grey-button {
  margin: 5px 5px;
  padding: 15px 25px;
  font-size:large;
  background-color: 
  #cecfd6;
  color: #090e34;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.grey-button:hover {
  background-color:#b9b9be;
}

li {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

div {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color:white;
  border-radius: 5px;
  margin: 2px 20px;
  padding: 10px 5px;
  text-align: center;
}

div.main-header {
  font-size: x-large;
  width: 800px;
  margin: 0 auto;
}

.main-header {
  font-size: x-large;
  max-width: 800px; /* Change width to max-width */
  margin: 0 auto;
}

.main-header p{
  font-size:20px;
  color: #959cb1;
  font-weight: 100;
  padding-bottom: 40px;
}

.secondary-header {
  margin-top: 150px;
  margin-bottom: 150px;
  box-shadow: none;
}

.secondary-header p {
  font-size: 40px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1, h2, h3 {
  text-align: center;
}

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color:white;
  margin: 5px 0;
}

.top-header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.top-header li {
  padding: 2.5px 2.5px;
  list-style-type: none;
  border-top: 1px solid blue;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: rgba(241, 241, 241, 0.9);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.top-header li.drop-li:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.top-header li.drop-li:hover {
  border-top: 1px solid red;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop-li {
  cursor: pointer;
}

li {
  cursor: pointer;
}

.fourth-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 300px;
  align-items: flex-start;
  margin-bottom: 20px; /* Adjust margin for better spacing */
}

.fourth-section div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content:baseline;
  width: 300px;
  height: 230px;
  border: 1px dotted black;
  margin:5px 5px;
  padding-top: 20px;
  padding-bottom: 0px;
  box-sizing: border-box;
  
}

.fourth-section p, h3 {
  text-align: left;
  padding-left: 10px;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-right: 15px;
}

.title-container h3 {
  padding-top: 0px;
  margin-top: 0px;
}

footer {
  margin-top: auto;
  background-color: #f1f1f1;
  padding: 10px;
}

footer ul {
  margin: 10px 10px;
  display:flex;
  justify-content: space-around;
  border: 1px dotted black;
  list-style: none;
  background-color: white;
}